@charset "UTF-8";
/**
 * このサイトはSassを使用しています。
 * このcssを直接編集しないでください。
 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&subset=japanese");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

img {
  vertical-align: top; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
::before,
::after {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  background: #fff;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  color: #003767;
  font-size: 26px !important;
  font-size: 4.0625vw !important;
  line-height: 1.9230769231;
  font-weight: 500;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: 400; }

a {
  color: #003767;
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

input,
select,
button {
  border: none; }
  input:focus,
  select:focus,
  button:focus {
    outline: 0;
    border: none; }

input[type=text],
input[type=email],
select,
textarea {
  vertical-align: top;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 26px !important;
  font-size: 4.0625vw !important;
  line-height: 1.9230769231; }

input[type=text],
input[type=email],
textarea {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type=radio] {
  width: 1.2em;
  height: 1.2em;
  margin: 0; }

label {
  vertical-align: middle;
  cursor: pointer; }
  label input[type=radio] {
    margin-right: 0.5em; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-normal {
  font-weight: 400; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-black {
  font-weight: 900; }

.text-small {
  font-size: 16px !important;
  font-size: 2.5vw !important; }

.text-large {
  font-size: 36px !important;
  font-size: 5.625vw !important; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-red {
  color: #e70012; }

.text-blue {
  color: #017fcc; }

.container {
  width: 75%;
  margin: 0 auto; }

.title01 {
  margin-bottom: 0.2777777778em;
  color: #003767;
  font-size: 36px !important;
  font-size: 5.625vw !important;
  text-align: center; }

.title02 {
  margin-bottom: 0.2777777778em;
  color: #003767;
  font-size: 32px !important;
  font-size: 5vw !important;
  text-align: center; }

.btn01 {
  display: block;
  border: 1px solid #003767;
  color: #003767;
  font-size: 26px !important;
  font-size: 4.0625vw !important;
  line-height: 2.8461538462;
  text-align: center; }

.btn02 {
  display: block;
  color: #d1d1d1;
  background: #e1e1e1;
  font-size: 26px !important;
  font-size: 4.0625vw !important;
  line-height: 2.8461538462;
  text-align: center; }

#global-head h1 {
  width: 32.8125%;
  margin: 0 auto;
  padding: 6.25% 0 7.03125%; }

#global-foot {
  margin-top: 4.2307692308em;
  padding: 0.5769230769em 0;
  background-color: #003767;
  text-align: center; }
  #global-foot .privacy a {
    color: #fff;
    font-size: 24px !important;
    font-size: 3.75vw !important; }
  #global-foot .copy {
    display: block;
    color: #fff;
    font-size: 22px !important;
    font-size: 3.4375vw !important; }

#sec-stamps {
  margin-bottom: 3.4615384615em; }
  #sec-stamps ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #sec-stamps ul li {
      width: 28.125%; }
  #sec-stamps .btn {
    margin-top: 2.3076923077em; }

#sec-point .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5384615385em;
  padding: 7.2916666667%;
  background-color: #fafafa; }
#sec-point .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#sec-thanks {
  text-align: center; }

.jquery-modal.blocker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.125%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none; }
  .jquery-modal.blocker::before {
    content: none; }
.jquery-modal .modal {
  display: block;
  width: 75%;
  padding: 14.84375% 0 17.96875%;
  background: #fff;
  border: 1px solid #003767;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .jquery-modal .modal a.close-modal {
    top: 0;
    right: 0;
    overflow: hidden;
    width: 1.0769230769em;
    height: 0;
    padding-top: 1.0769230769em;
    margin: 1.7307692308em 1.5384615385em 0 0;
    background-image: url("../img/modal-close.svg");
    background-size: 100% auto; }
  .jquery-modal .modal figure {
    width: 54.1666666667%;
    margin: 1.9230769231em auto 0; }
    .jquery-modal .modal figure figcaption {
      text-align: center; }
  .jquery-modal .modal .btn {
    width: 65.4166666667%;
    margin: 1.9230769231em auto 0; }

.modal-preview {
  padding: 1.9230769231em; }
  .modal-preview p:not(:last-child) {
    margin-bottom: 0.3846153846em; }

/*# sourceMappingURL=main.css.map */