@charset "utf-8";

.container {
  width: per($base_container_width, $base_body_width);
  margin: 0 auto;
}

.title01 {
  margin-bottom: em(10, 36) + em;
  color: $color_primary;
  @include fontsize(36);
  text-align: center;
}

.title02 {
  margin-bottom: em(10, 36) + em;
  color: $color_primary;
  @include fontsize(32);
  text-align: center;
}

.btn01 {
  display: block;
  border: 1px solid $color_primary;
  color: $color_primary;
  @include fontsize(26);
  line-height: em(74, 26);
  text-align: center;
}

.btn02 {
  display: block;
  color: #d1d1d1;
  background: #e1e1e1;
  @include fontsize(26);
  line-height: em(74, 26);
  text-align: center;
}


#global-head {
  h1 {
    width: per(210, $base_body_width);
    margin: 0 auto;
    padding: per(40, $base_body_width) 0 per(45, $base_body_width);
  }
}

#global-foot {
  margin-top: em(110, $base_font_size) + em;
  padding: em(15, $base_font_size) + em 0;
  background-color: $color_primary;
  text-align: center;
  .privacy {
    a {
      color: $color_white;
      @include fontsize(24);
    }
  }
  .copy {
    display: block;
    color: $color_white;
    @include fontsize(22);
  }
}

#sec-stamps {
  margin-bottom: em(90, $base_font_size) + em;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      width: per(135, $base_container_width);
    }
  }
  .btn {
    margin-top: em(60, $base_font_size) + em;
  }
}

#sec-point {
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: em(40, $base_font_size) + em;
    padding: per(35, $base_container_width);
    background-color: #fafafa;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#sec-thanks {
  text-align: center;
}


// modal
.jquery-modal {
	&.blocker {
    display: flex;
    align-items: center;
    justify-content: center;
		padding: per(20, $base_body_width);
		background: rgba($color_white, .3);
		box-shadow: none;
    &::before {
      content: none;
    }
	}
	.modal {
    display: block;
    width: per(480, $base_body_width);
    padding: per(95, $base_body_width) 0 per(115, $base_body_width);
    background: $color_white;
    border: 1px solid $color_primary;
    border-radius: 0;
    box-shadow: none;
		a.close-modal {
			top: 0;
			right: 0;
			overflow: hidden;
			width: em(28, $base_font_size) + em;
			height: 0;
			padding-top: em(28, $base_font_size) + em;
			margin: em(45, $base_font_size) + em em(40, $base_font_size) + em 0 0;
			background-image: url("../img/modal-close.svg");
			background-size: 100% auto;
		}
    figure {
      width: per(260, $base_container_width);
      margin: em(50, $base_font_size) + em auto 0;
      figcaption {
        text-align: center;
      }
    }
    .btn {
      width: per(314, $base_container_width);
      margin: em(50, $base_font_size) + em auto 0;
    }
	}
}


.modal-preview {
  padding: em(50, $base_font_size) + em;
  p {
    &:not(:last-child) {
      margin-bottom: em(10, $base_font_size) + em;
    }
  }
}
