@charset "utf-8";

// コンパイル後css用注意書き
/**
 * このサイトはSassを使用しています。
 * このcssを直接編集しないでください。
 */

@import "base/reset";

@import "base/font";

@import "base/mixin";
@import "base/functions";

// base
$base_body_width: 640; // px
$base_container_width: 480; // px
$font_size_mode: 'vw'; // px or vw
$base_font_family: $font_web_gothic !default;
$base_font_size: 26; // px
$base_line_height: em(50, $base_font_size);
$base_font_weight: 500; // 400(normal), 500(medium), 700(bold), 900(black)

// color
$color_primary: #003767;

$color_white: #fff;
$color_black: #000;
$color_red: #e70012;
$color_blue: #017fcc;

$color_body_bg: $color_white;
$color_text: $color_primary;
$color_link: $color_primary;

@import "base/common";

@import "custom";
